<table>
    <tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Latitude</th>
	    <th>Longitude</th>
	    <th>Summary</th>
	    <th>Website</th>
    </tr>
    <% results.forEach(locations => { %>
	    <tr>   
			<td><%= locations.name %></td>
			<td><%= locations.type %></td>
			<td><%= locations.lat %></td>
			<td><%= locations.lng %></td>
			<td><%= locations.summary %></td>
			<td><%= locations.website %></td>
			<td>
				<a href="/locations/update/<%= locations.gid %>">Sua</a>
				<a href="/locations/delete/<%= locations.gid %>">Xoa</a>
			</td>
	    </tr>
	<% }) %>
</table>
<a href="/locations/add"><button>Add</button></a>