<form action="/locations/update" method="post">
	<input type="text" name="name" placeholder="Name" value="<%= result.name %>">
	<select name="type">
		<option value="<%= result.type %>"><%= result.type %></option>
	</select>
	<input type="text" name="lat" placeholder="Latitude" value="<%= result.lat %>">
	<input type="text" name="lng" placeholder="Longitude" value="<%= result.lng %>">
	<input type="text" name="summary" placeholder="Summary" value="<%= result.summary %>">
	<input type="text" name="website" placeholder="Website" value="<%= result.website %>">
	<input type="hidden" name="gid" value="<%= result.gid %>">
	<button>Update</button>
</form>